.mainBody{
    margin-left:25%;
    margin-top: 20px;
    margin-right: 25%;
}

.ULbox{
    display: flex;
    flex-direction: column;
    border-style:groove;
    width: 30%;
    justify-content: space-between;
    border-radius: 10px;
    background-color: whitesmoke;
    
    
}

.mainBox{
    padding-bottom: 20px;
    
}

.right{
    float: right;
}

/* User section */

.course-list-body-user{
    margin: 2vh;
    
}

.user-ops{
    display: flex;
    justify-content: end;
}

.course-list-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    /* grid-template-columns: 250px 200px 300px 100px; */
    /* grid-auto-rows: minmax(150px, quto); this extends the height  */
    grid-auto-rows: 150px;
    column-gap: 20px;
    row-gap: 20px;
    /* background-color: red; */

}

.course-list-item{
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}



